$accent-900: #ff6838;
$accent-800: #ff7a50;
$orange-light: #ffae94;
$rose-white: #fff2ed;
$rose-light: #faeded;
$silver-200: #ececec;
$grey: #c2c2c2;
$white: #fff;
$silver-100: #f9faff;
$black: #000;
$darkBlue: #363853;
$dark: #31352b;
$darkGrey: #505050;

$sectionPadding: 60px;
$sectionPaddingDesktop: 50px;
$sectionPaddingTablet: 40px;
$sectionPaddingPhone: 20px;

$burgerWidth: 30px;
$burgerHeight: 25px;
$burgerLineHeight: 2px;

$breakpoints: (
  'phone': 560px,
  'tablet': 768px,
  'tablet-2': 992px,
  'desktop': 1200px,
);

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%rubik-400-italic {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
}

%regular-text {
  @extend %rubik-400;
  font-size: 20px;
  line-height: 1.5;
}

%background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

%display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
