@import "vars";
@import "globals";
@import "reset";
@import "fonts";
@import "media";

body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.4;
}

a,
button {
  @extend %rubik-400;
}

.title {
  @extend %rubik-500;
  font-size: 36px;
}

.accent {
  color: $orange-900;
}

.animated-link {
  border-radius: 5px;
  box-shadow: 0 0 0 2px transparent;
  font-size: 18px;
  color: $dark;
  transition:
    box-shadow 0.5s ease,
    color 0.5s ease,
    text-shadow 0.5s ease;

  &:hover {
    color: $orange-900;
  }
  &:focus {
    color: $dark;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }
  &:active {
    color: $dark;
    box-shadow: 0 0 0 2px transparent;
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.animated-icon {
  border-radius: 5px;
  box-shadow: 0 0 0 2px transparent;
  transition:
    box-shadow 0.5s ease,
    background-color 0.5s ease,
    stroke 0.5s ease;

  &:hover {
    background-color: #ff7a50;

    & ellipse,
    path {
      stroke: #fff;
    }
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    background-color: rgba(255, 122, 80, 0.1);
    & ellipse,
    & path {
      stroke: #000;
    }
  }
  &:active {
    box-shadow: 0 0 0 2px transparent;
    background-color: #fff2ed;
  }
}

.text {
  @extend %rubik-400;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  width: 200px;
  height: 39px;
  border-radius: 5px;
  display: block;
  box-shadow: 0 0 0 2px transparent;
  transition:
    box-shadow 0.5s ease,
    opacity 0.5s;

  &:hover {
    opacity: 0.8;
  }
  &:focus {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }
  &:active {
    box-shadow: 0 0 0 2px transparent;
    opacity: 0.5;
  }
}

.header {
  padding-bottom: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $darkBlue;
    max-width: 75%;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    color: $dark;
    max-width: 450px;
  }

  &__image {
    max-width: 560px;
    max-height: 660px;
  }
}

.menu {
  margin-right: 37px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding: 0 23px;
  }
}

.actions-list {
  display: flex;
  gap: 12px;
  text-align: center;

  &-icon {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }

  &-link {
    width: 44px;
    height: 44px;
    display: block;
    position: relative;
    transition:
      background-color 0.5s ease,
      color 0.5s ease;

    &:hover {
      .actions-list-link-counter {
        background-color: #fff;
        color: $orange-900;
      }
    }

    &:focus {
      .actions-list-link-counter {
        background-color: $orange-900;
        color: #fff;
      }
    }

    &-counter {
      width: 14px;
      height: 14px;
      background-color: $orange-900;
      border-radius: 50%;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 8px;
      right: 5px;
    }
  }
}

.order-buttons {
  display: flex;
  gap: 34px;
  align-items: center;
}

.primary-button {
  background-color: $orange-900;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 6px;
  padding: 12px 32px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px transparent;
  margin: 2px 0 0 2px;
  transition:
    box-shadow 0.5s ease,
    background-color 0.5s ease,
    stroke 0.5s ease,
    color 0.5s ease;

  &:hover {
    box-shadow:
      0 0 0 2px rgba(255, 104, 56, 0.7),
      0 5px 12px 0 rgba(255, 104, 56, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    color: $orange-900;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    background-color: rgba(255, 122, 80, 0.1);
    color: $orange-900;
  }
  &:active {
    box-shadow: 0 0 0 2px transparent;
    background-color: rgba(255, 122, 80, 0.1);
    color: $orange-900;
  }
}

.secondary-button {
  height: 30px;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: $darkBlue;
  transition: text-decoration 0.5s ease;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.footer {
  background-color: $silver-100;
  color: $dark;
  padding-top: 40px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  & .logo {
    margin-bottom: 30px;
  }

  &-menu {
    &__list {
      column-count: 3;
    }

    &__list-item {
      padding-bottom: 20px;
    }
  }

  &-link {
    display: block;
  }

  &__bottom {
    text-align: center;
    padding: 29px 0 30px 0;
    background-color: $silver-100;
    color: $dark;
    border-top: 1px solid $grey;
    font-size: 14px;
    line-height: 1;
    color: $dark;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__input {
    width: 200px;
    padding: 11px 15px;
    border: none;
    border-radius: 4px;
    opacity: 0.9;
    transition: box-shadow 0.5s ease;

    &::placeholder {
      transition: color 0.5s ease;
    }

    &:hover::placeholder {
      color: $darkBlue;
    }
    &:focus {
      box-shadow: 0 0 0 2px $orange-900;
    }
  }

  &__input::placeholder {
    font-size: 14px;
    line-height: 1.3;
    color: $grey;
  }

  &__btn {
    font-size: 14px;

    & path {
      transition: fill 0.5s ease;
    }
    &:hover,
    &:focus {
      .subscribe-form__btn-icon path {
        fill: $orange-900;
      }
    }
  }

  &__btn-icon {
    transform: translateY(10%);
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__info {
    &-link {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 2;
      color: $dark;
      gap: 7px;
    }

    &-item {
      margin-bottom: 15px;

      & .animated-link {
        & path {
          transition: stroke 0.5s ease;
        }
        &:hover path {
          stroke: $orange-900;
        }
        &:focus path {
          stroke: $dark;
        }
        &:active path {
          stroke: $dark;
        }
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }

  &__social {
    &-list {
      display: flex;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 13px;
      }
    }

    &-icon {
      border-radius: 50%;
      box-shadow: 0 0 0 2px transparent;
    }

    &-link {
      & circle,
      & path,
      & svg {
        transition:
          fill 0.5s ease,
          box-shadow 0.5s ease;
      }

      &:hover {
        & circle {
          fill: #ff7a50;
        }
        & path {
          fill: #fff;
        }
      }
      &:focus {
        & circle {
          fill: #fff2ed;
        }
        & path {
          fill: $dark;
        }
        & svg {
          box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
        }
      }
      &:active {
        & circle {
          fill: #fff2ed;
        }
        & path {
          fill: $orange-900;
        }
        & svg {
          box-shadow: 0 0 0 2px transparent;
        }
      }
    }
  }
}
