@import "vars";
@import "globals";
@import "reset";
@import "fonts";
@import "media";

body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.4;
}

a,
button {
  @extend %rubik-400;
}

.title {
  @extend %rubik-500;
  font-size: 36px;
}

.accent {
  color: $orange-900;
}

.text {
  @extend %rubik-400;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $darkBlue;
    max-width: 75%;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    color: $dark;
    max-width: 450px;
  }

  &__image {
    max-width: 560px;
    max-height: 660px;
  }
}

.menu {
  margin-right: 37px;
  &__list {
    display: flex;
  }
  &__link {
    font-size: 18px;
    color: $dark;
  }
  &__list-item {
    padding: 0 23px;
  }
}

.actions-list {
  display: flex;
  gap: 33px;

  &-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 18px;
    height: 18px;
  }
  &-item--search {
    background-image: url("../images/icons/icon-search.svg");
  }
  &-item--card {
    position: relative;
    background-image: url("../images/icons/icon-card.svg");
  }

  &-link-counter {
    width: 14px;
    height: 14px;
    background-color: $orange-900;
    border-radius: 50%;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: -3px;
    right: -5px;
  }
}

.order-buttons {
  display: flex;
  gap: 34px;
}

.order-button {
  background-color: $orange-900;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 6px;
  padding: 12px 32px;
}

.learn-more-button {
  font-size: 20px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: $darkBlue;
}
